httpx
PyDriller==1.15.3
GitPython
Pydriller
sqlite-utils>=3.2
py-gfm
datasette-render-markdown
datasette-publish-dokploy @ git+https://github.com/ashishdotme/datasette-publish-dokploy@main
datasette-template-sql>=1.0.2
datasette>=0.59
datasette-atom>=0.7
beautifulsoup4
datasette-graphql
datasette-media
datasette-block-robots
